version: 2

references:
  default_job: &default_job
      machine: true
      working_directory: ~/workdir

jobs:
  download-plugins-test:
    <<: *default_job
    steps:
    - run: |
        curl -sSL https://267-39913866-gh.circle-artifacts.com/0/codacy-plugins-test-linux -o codacy-plugins-test && \
        chmod +x codacy-plugins-test
    - persist_to_workspace:
        root: .
        paths: 
          - codacy-plugins-test

  codacy-plugins-test-json:
    <<: *default_job
    steps:
    - attach_workspace:
        at: .
    - run:
        name: Load docker from file
        command: docker load --input codacy-hadolint-docker-image.tar
    - run:
        name: Run plugins test (json)
        command: ./codacy-plugins-test json codacy/$CIRCLE_PROJECT_REPONAME:latest
        
  codacy-plugins-test-patterns:
    <<: *default_job
    steps:
    - attach_workspace:
        at: .
    - run:
        name: Load docker from file
        command: docker load --input codacy-hadolint-docker-image.tar
    - run:
        name: Run plugins test (pattern)
        command: ./codacy-plugins-test pattern codacy/$CIRCLE_PROJECT_REPONAME:latest
        
  build:
    <<: *default_job
    steps:
    - checkout
    - run:
        name: Publish tool docker locally
        working_directory: ~/workdir
        command: ./scripts/build.sh
    - run:
        name: Save docker to file
        command: docker save --output codacy-hadolint-docker-image.tar codacy/$CIRCLE_PROJECT_REPONAME
    - persist_to_workspace:
        root: .
        paths:
        - codacy-hadolint-docker-image.tar
  
  publish-docker:
    <<: *default_job
    steps:
    - deploy:
        name: Push application Docker image
        command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker tag codacy/$CIRCLE_PROJECT_REPONAME:latest codacy/$CIRCLE_PROJECT_REPONAME:1.0.$CIRCLE_BUILD_NUM
            docker push codacy/$CIRCLE_PROJECT_REPONAME:1.0.$CIRCLE_BUILD_NUM
            docker push codacy/$CIRCLE_PROJECT_REPONAME:latest

workflows:
  version: 2
  build-test-deploy:
    jobs:
    - build
    - download-plugins-test
    - codacy-plugins-test-json:
        requires:
          - build
          - download-plugins-test
    - codacy-plugins-test-patterns:
        requires:
          - build
          - download-plugins-test
    - publish-docker:
        requires:
          - build
          - codacy-plugins-test-json
          - codacy-plugins-test-patterns
        filters:
          branches:
            only:
            - master
